.userContainer {
  width: 90%;
  max-width: 400px;

  margin: 1rem;

  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);

  background-color: rgb(0 0 0 / 50%);
  overflow: hidden;
}

.userContainer img {
  width: 100%;
  object-fit: cover;
}

.userData {
  padding: 0.5rem 1rem;
}

.userData ul {
  list-style: none;
}
