:root {
  --background: #121212;
  --surface: rgb(255 255 255 / 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--surface);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a,
input {
  font-family: inherit;
}
